.filter_wrap {
  position: relative;
  z-index: 200;
}

.filter_area {
  position: relative;
  padding: 10px 56px 8px 16px;
  background-clip: padding-box;
  background-color: #fff;
  white-space: nowrap;
}

.blind,
.checkbox_input,
.radio_input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.filter_type[aria-pressed="true"] {
  padding-left: 11px;
  padding-right: 12px;
  border-color: #35c44b;
  font-weight: 600;
  color: #358cf3;
  border-color: rgba(82, 163, 223, 0.02);
  background-color: rgba(82, 163, 223, 0.13);
}
.filter_type {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.43px;
  display: inline-block;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  vertical-align: top;
  color: #444;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_group:first-of-type {
  margin-left: 10px;
}
.filter_type ~ .filter_group {
  margin-top: -1px;
}
.filter_group {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.filter_area {
  position: relative;
  padding: 10px 56px 8px 16px;
  background-clip: padding-box;
  background-color: #fff;
  white-space: nowrap;
}

.filter_group.is-active .filter_btn_select:not([aria-expanded="true"]) {
  background-color: rgba(82, 163, 223, 0.13);
}

.filter_group.is-active .filter_btn_select {
  border-color: rgba(82, 163, 223, 0.02);
  font-weight: 600;
  color: #358cf3;
}

.filter_btn_select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.43px;
  display: inline-block;
  position: relative;
  height: 32px;
  padding: 6px 29px 5px 9px;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: top;
  color: #444;
}

.filter_group.is-active .filter_btn_select .icon_arrow_down_bold2 {
  color: #358cf3;
}
.filter_btn_select .icon_arrow_down_bold2 {
  position: absolute;
  top: 50%;
  height: 11px;
  margin-top: -5.5px;
  right: 9px;
  font-size: 11px;
  color: #444;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.icon {
  display: inline-block;
  font-family: "space_icon";
  line-height: 1;
  letter-spacing: 0;
  vertical-align: middle;
}

i {
  font-style: normal;
}
.filter_popup[aria-hidden="true"] {
  display: none;
}
.filter_popup {
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 20;
  width: 227px;
  padding: 25px 25px 10px;
  background-clip: padding-box;
  background-color: #fff;
  white-space: normal;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}

.filter_popup {
  position: absolute;
  top: 45px;
  left: 0;
}

div {
  display: block;
}
.filter_popup .title {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  display: block;
  margin-bottom: 19px;
  font-family: NanumGothic, NanumGothicWebFont, "Apple SD Gothic Neo", 돋움,
    Dotum, sans-serif;
  color: rgb(0, 0, 0);
}
.select_list_wrap {
  padding-bottom: 24px;
}
ul,
ol {
  list-style: none;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.select_list_wrap .select_item {
  margin-top: 6px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.blind,
.checkbox_input,
.radio_input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
input,
textarea,
select,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
}
button,
input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}
.checkbox_label {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-left: 25px;
  letter-spacing: -0.5px;
}
.filter_popup .notice {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.8px;
  padding: 10px 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  letter-spacing: -0.9px;
  color: #333;
}
.filter_popup .notice .icon_alert_small {
  margin-right: 4px;
  font-size: 16px;
  line-height: 19px;
  vertical-align: top;
  color: #979797;
}
.icon {
  display: inline-block;
  font-family: "space_icon";
  line-height: 1;
  letter-spacing: 0;
  vertical-align: middle;
}
.filter_popup .btn_close {
  position: absolute;
  top: 24px;
  right: 20px;
  padding: 5px;
  font-size: 18px;
  color: #2b2c2e;
}
button,
input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

input,
textarea,
select,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
}
.filter_popup[aria-hidden="true"] {
  display: none;
}
.filter_popup {
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 20;
  width: 227px;
  padding: 25px 25px 10px;
  background-clip: padding-box;
  background-color: #fff;
  white-space: normal;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}
.filter_popup {
  position: absolute;
  top: 45px;
  left: 0;
}
.filter_balloon_popup {
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.5px;
  display: none;
  top: 50px;
  z-index: 21;
  padding: 10px 10px 11px;
  border: 1px solid #969696;
  background-color: #f9f9f9;
}
