.nav_user ul li em {
  line-height: 60px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.65);
}
.item-line ul li em.active {
  color: #0f96f6;
}

.nav_user ul {
  list-style-position: none;
  margin: 0;
  padding: 0;
}
.nav_user {
  padding-left: 15%;
}
.nav_user ul li {
  list-style-type: none;
  display: inline-block;
}

.nav_user ul li a {
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.65);
}

.nav_user ul li a:hover {
  color: #0f96f6;
}

.nav ul li a.active {
  color: #0f96f6;
}
